*{
    box-sizing: border-box;
    padding: 0;
    margin:0 ;
    font-size: 1.3vw;
    color: white;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* =============================================== */
body header{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    background-color: #7616C2;

}

header h1{
    flex-basis: 20%;
    margin-left: 1.5vw;
    color: white;
    align-self: center;
}

nav ul {
    margin-left: 10vw;
    padding: 1vw;
    display: flex;
    flex-direction: row;
    gap: 10vw;
    justify-content: space-around;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    position: relative;
}

.a{
    display: grid;
    width: 12vw;
    height: 3.2vw;
    border: none;
    justify-content: center;
    place-content: center;
    color: white;
    text-decoration: none;
    border-radius: 1.5vw;
    background-color: #840be7;
}

nav ul li::after {
    content: '';
    position: absolute;
    width: 80%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 10%;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

nav ul li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.logo_kitek{
    height: 6vw;
    margin: 0.5vw;
    margin-left: 0.5vw;
    flex-basis: 3%;
    border-radius: 1vw;
}

/* ================================================== */
main{
    background-image: url("gradient.jpg");
    height: 43vw;
    text-align: center;
}

#h1{
    font-size: 10vw;
    margin-top: 8vw;

}
#h2{
    font-size: 5vw;
}

/* ============================== */

footer{
    display: flex;
    color: white;
    background-color: #7616C2;
    height:8vw;
    align-items: center;
    justify-content: space-evenly;
}


/* ====================================== */
