<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/about_us.css">
    <title>O nas</title>
</head>
<body>
    <div class="container">
        <header>
            <img src="/kitek%20pokerface.png" alt="kitek logo" class="logo_kitek">
            <h1>Kino Bez Piździucha</h1>
            <nav>
                <ul>
                    <li><a href="/" class="a">Repertuar</a></li>
                    <li><a href="/about_us" class="a">About Us</a></li>
                    <li><a style="text-align: center" href="/login" class="a">Login<br><%=session%></a></li>
                </ul>
            </nav>
        </header>
        <main>
            <article>
                <h2>O nas</h2>
                <p>Jesteśmy trójką nieustraszonych pasjonatów filmowych - WalnietyKotel, Sticzx i Woszek. Razem stworzyliśmy aplikację kina</p>
                    <p><strong>WalnietyKotel:</strong>
                    WalnietyKotel to prawdziwy mag filmowego świata. Jego entuzjazm i niezwykłe zrozumienie sztuki filmowej sprawiają, że każda recenzja, którą pisze, staje się inspiracją dla nas wszystkich. Jego wyjątkowe spojrzenie na kino, umiejętność analizowania fabuły, gry aktorskiej i techniki filmowej sprawiają, że jego artykuły są nie tylko pełne merytorycznych informacji, ale również bardzo przyjemne do czytania. WalnietyKotel, zawsze gotowy na nowe wyzwania i odkrywanie filmowych skarbów.</p>
                    <p><strong>Sticzx:</strong>
                        Sticzx jest naszym reporterem, który nie boi się zagłębić w najbardziej zawiłe zagadnienia kinematografii. Zawsze jest na tropie najnowszych trendów i wydarzeń filmowych. Jego prace są pełne dogłębnej analizy filmów, wywiadów z twórcami oraz ciekawych spostrzeżeń na temat kultury filmowej. Sticzx ma dar przekazywania emocji, które towarzyszą mu podczas oglądania filmów, co sprawia, że czytelnicy czują się jakby sami byli częścią tych historii. Jego wnikliwość i pasja są nieodłącznym elementem naszego zespołu.</p>
                        <p><strong>KWoszek:</strong>
                            Woszek jest naszym niezastąpionym pomocnikiem, który dba o wszelkie techniczne aspekty strony internetowej. Jego umiejętności programistyczne i zdolności do graficznego projektowania sprawiają, że nasza strona jest nie tylko piękna, ale również łatwa w obsłudze i przyjazna dla użytkowników. Woszek jest odpowiedzialny za organizację materiałów, aktualizację treści i dba o to, aby nasi czytelnicy mieli dostęp do najświeższych informacji o filmach i wydarzeniach kinowych.</p>
            </article>
        </main>
        <footer>
            <p>Kino Bez Piździucha</p>
            <p>&copy;WalnietyKotel i Sticzx Coorporated</p>
        </footer>
        </div>
</body>
</html>